src/data_ingestion/equibaseSimulcast.xsd

<!--  edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Michael Podgorski (TJC Technology
Services Inc)  -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    attributeFormDefault="unqualified">
    <xs:complexType name="ParsedWagerText">
        <xs:sequence>
            <xs:element name="Wagers">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="0" />
                        <xs:maxLength value="80" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Sequence" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RaceCard">
        <xs:sequence>
            <xs:element name="Race" type="EntryRace" maxOccurs="unbounded" />
            <xs:element name="Track" type="Track" />
            <xs:element name="RaceDate" type="xs:date" />
            <xs:element name="NumberOfRaces" type="xs:int" />
            <xs:element name="CompleteIndicator">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Copyright" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EntryRace">
        <xs:sequence>
            <xs:element name="RaceNumber">
                <xs:simpleType>
                    <xs:restriction base="xs:int">
                        <xs:minInclusive value="1" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="DayEvening">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="BreedType" type="ColumnValue" />
            <xs:element name="Course" type="Course" />
            <xs:element name="Distance" type="Distance" />
            <xs:element name="RaceType" type="RaceType" />
            <xs:element name="RestrictionType" type="ColumnValue" />
            <xs:element name="SexRestriction" type="ColumnValue" />
            <xs:element name="AgeRestriction" type="ColumnValue" />
            <xs:element name="ConditionsOfRace">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="20" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="ConditionText">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:whiteSpace value="preserve" />
                        <xs:maxLength value="1275" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="PostTime">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="7" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Grade" default=" ">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1" />
                        <xs:enumeration value=" " />
                        <xs:enumeration value="1" />
                        <xs:enumeration value="2" />
                        <xs:enumeration value="3" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Division">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="PurseUSA" type="xs:decimal" />
            <xs:element name="PurseEnhancement" type="PurseEnhancement" minOccurs="0" maxOccurs="6" />
            <xs:element name="GuaranteedIndicator" type="ColumnValue" />
            <xs:element name="MaximumClaimPrice" type="xs:decimal" />
            <xs:element name="MinimumClaimPrice" type="xs:decimal" />
            <xs:element name="WagerText" type="xs:string" />
            <xs:element name="ParsedWagerText" type="ParsedWagerText" maxOccurs="unbounded" />
            <xs:element name="ProgramSelections">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="16" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="RaceName">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="120" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="ChuteStart" default="N">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="TrackRecord" type="TrackRecord" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="SimulcastFlag">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="DestinationTrack" type="Track" minOccurs="0" />
            <xs:element name="DestinationRaceNumber" type="xs:int" minOccurs="0" />
            <xs:element name="DestinationDayEvening" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="0" />
                        <xs:maxLength value="1" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="NumberOfRunners" type="xs:int" />
            <xs:element name="PredictiveRaceClass" type="xs:int" minOccurs="0" />
            <xs:element name="Starters" type="EntryStart" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EntryStart">
        <xs:sequence>
            <xs:element name="Horse" type="Horse" />
            <xs:element name="PostPosition" type="xs:int" />
            <xs:element name="ProgramNumber">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="3" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="CoupleType">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="CoupledIndicator" type="xs:string" minOccurs="0" />
            <xs:element name="EligibilityText">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="255" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="WeightCarried" type="xs:int" />
            <xs:element name="Equipment" type="ColumnValue" maxOccurs="5" />
            <xs:element name="Medication" type="ColumnValue" maxOccurs="5" />
            <xs:element name="ScratchIndicator" type="ColumnValue" />
            <xs:element name="ClaimedPriceUSA" type="xs:decimal" />
            <xs:element name="Trainer" type="RacingExternalParty" />
            <xs:element name="OwnerName" type="xs:string" />
            <xs:element name="Owner" type="RacingExternalParty" minOccurs="0" />
            <xs:element name="RacingOwnerSilks">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="255" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Jockey" type="RacingExternalParty" />
            <xs:element name="ApprenticeType" type="ColumnValue" />
            <xs:element name="ApprenticeWeightAllowance" type="xs:int" />
            <xs:element name="Odds" type="xs:string" />
            <xs:element name="CommentText">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="255" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="RaceSummary" type="RaceSummary" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="PastPerformance" type="Race" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="Workout" type="Workout" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="TodaysHorseClassRating" type="xs:int" minOccurs="0" />
            <xs:element name="SaddleClothColor" type="xs:string" minOccurs="0" />
            <xs:element maxOccurs="3" minOccurs="0" name="ScratchDetail" type="ScratchDetail" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Race">
        <xs:sequence>
            <xs:element name="Track" type="Track" />
            <xs:element name="RaceDate" type="xs:date" />
            <xs:element name="RaceNumber" type="xs:int" />
            <xs:element name="DayEvening">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="BreedType">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="2" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="JumpFlag">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="OfficialIndicator">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="TemporaryRailDistance" type="xs:int" />
            <xs:element name="RaceType" type="RaceType" />
            <xs:element name="Course" type="Course" />
            <xs:element name="Grade" type="xs:string" />
            <xs:element name="StakesIndicator">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="ConditionsOfRace">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="20" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="AgeRestriction">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="2" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="SexRestriction">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="RaceRestrictions" type="RaceRestriction" minOccurs="0"
                maxOccurs="unbounded" />
            <xs:element name="MaximumClaimingPrice" type="xs:decimal" />
            <xs:element name="AvailableMoney" type="xs:decimal" />
            <xs:element name="PurseUSA" type="xs:decimal" />
            <xs:element name="PurseForeign" type="xs:decimal" minOccurs="0" />
            <xs:element name="Distance" type="Distance" />
            <xs:element name="ChuteStart">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="TrackCondition" type="ColumnValue" />
            <xs:element name="TrackSealedIndicator" type="xs:string" minOccurs="0" />
            <xs:element name="OffTurfIndicator">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Weather">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Temperature" type="xs:int" />
            <xs:element name="WindSpeed" type="xs:int" />
            <xs:element name="WindDirection">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="2" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="NumberOfStarters" type="xs:int" />
            <xs:element name="Fractions" type="Fraction" minOccurs="0" maxOccurs="6" />
            <xs:element name="AbbreviatedName">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="26" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="RaceName">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="80" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="RaceComment">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="255" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Division">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="CompanyLine" type="RaceCompanyLine" minOccurs="3" maxOccurs="3" />
            <xs:element name="Start" type="Start" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="RaceText" type="xs:string" />
            <xs:element name="CondensedConditionsOfRace" type="xs:string" />
            <xs:element name="TimerType" type="xs:string" minOccurs="0" />
            <xs:element name="GradeException" type="xs:string" minOccurs="0" />
            <xs:element name="RunUpDistance" type="xs:int" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Start">
        <xs:sequence>
            <xs:element name="WeightCarried" type="xs:int" />
            <xs:element name="Medication" type="ColumnValue" maxOccurs="5" />
            <xs:element name="Equipment" type="ColumnValue" maxOccurs="5" />
            <xs:element name="EarningsUSA" type="xs:decimal" />
            <xs:element name="EarningsForeign" type="xs:decimal" />
            <xs:element name="Jockey" type="RacingExternalParty" />
            <xs:element name="Trainer" type="RacingExternalParty" />
            <xs:element name="Owner" type="RacingExternalParty" />
            <xs:element name="Odds" type="xs:string" />
            <xs:element name="NonbettingIndicator">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="CoupledIndicator">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="CoupledFinish" type="xs:int" />
            <xs:element name="Favorite">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="PostPosition" type="xs:int" />
            <xs:element name="ProgramNumber">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="3" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="PointOfCall" type="PointOfCall" maxOccurs="7" />
            <xs:element name="OfficialFinish">
                <xs:simpleType>
                    <xs:restriction base="xs:int" />
                </xs:simpleType>
            </xs:element>
            <xs:element name="RaceRating" type="xs:int" minOccurs="0" />
            <xs:element name="ClassRating" type="xs:int" minOccurs="0" />
            <xs:element name="PaceFigure1" type="xs:int" minOccurs="0" />
            <xs:element name="PaceFigure2" type="xs:int" minOccurs="0" />
            <xs:element name="PaceFigure3" type="xs:int" minOccurs="0" />
            <xs:element name="DeadHeatFlag">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="SpeedFigure" type="xs:int" minOccurs="0" />
            <xs:element name="ClaimPriceUSA" type="xs:decimal" />
            <xs:element name="ClaimedFlag">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="TimeOfHorse" type="xs:int" minOccurs="0" />
            <xs:element name="DQIndicator">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="PlacedIndicator">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="ApprenticeType" type="ColumnValue" minOccurs="0" />
            <xs:element name="ApprenticeWeightAllowance" type="xs:int" />
            <xs:element name="ScratchIndicator" type="xs:string" minOccurs="0" />
            <xs:element name="Horse" type="Horse" minOccurs="0" />
            <xs:element name="ShortComment">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="22" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="LongComment">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="65" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="SpeedIndex" type="xs:int" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>brinc_speed_figure for QH - MX</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ForeignRating" type="xs:int" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Foreign Speed Figure</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Track">
        <xs:sequence>
            <xs:element name="TrackID">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="3" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Country">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="3" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="TrackName" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="50" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="TimingMethod" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Horse">
        <xs:sequence>
            <xs:element name="RegistrationNumber">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="8" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="HorseName" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="35" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="FoalingDate" type="xs:date" minOccurs="0" />
            <xs:element name="YearOfBirth" type="xs:int" minOccurs="0" />
            <xs:element name="FoalingArea" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="3" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="BreedType" type="ColumnValue" minOccurs="0" />
            <xs:element name="Color" type="ColumnValue" minOccurs="0" />
            <xs:element name="Sex" type="ColumnValue" minOccurs="0" />
            <xs:element name="EligibilityType" type="ColumnValue" minOccurs="0" />
            <xs:element name="BreederName" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="80" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Sire" type="Horse" minOccurs="0" />
            <xs:element name="Dam" type="Horse" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RacingExternalParty">
        <xs:sequence>
            <xs:element name="ExternalPartyId" type="xs:int" />
            <xs:element name="TypeSource">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="2" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="FirstName">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="15" />
                        <xs:whiteSpace value="preserve" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="MiddleName">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="15" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="LastName">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="250" />
                        <xs:whiteSpace value="preserve" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Workout">
        <xs:sequence>
            <xs:element name="Track" type="Track" />
            <xs:element name="Date" type="xs:date" />
            <xs:element name="Distance" type="Distance" />
            <xs:element name="CourseType" type="Course" />
            <xs:element name="TrackCondition" type="ColumnValue" />
            <xs:element name="Timing" type="xs:int" />
            <xs:element name="DogIndicator">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="TypeOfRider" type="ColumnValue" />
            <xs:element name="Comment">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="20" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="GateIndicator">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="TypeOfWorkout" type="ColumnValue" />
            <xs:element name="QualityIndicator">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Ranking">
                <xs:simpleType>
                    <xs:restriction base="xs:int">
                        <xs:minInclusive value="1" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="NumberInRankingGroup">
                <xs:simpleType>
                    <xs:restriction base="xs:int">
                        <xs:minInclusive value="1" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Horse" type="Horse" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Course">
        <xs:sequence>
            <xs:element name="CourseType" type="ColumnValue" />
            <xs:element name="Surface" type="ColumnValue" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Distance">
        <xs:sequence>
            <xs:element name="DistanceId" type="xs:int" />
            <xs:element name="DistanceUnit" type="ColumnValue" />
            <xs:element name="AboutDistanceIndicator" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="PublishedValue" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="10" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PurseEnhancement">
        <xs:sequence>
            <xs:element name="IncludePlusIndicator" type="ColumnValue" />
            <xs:element name="EnhancementType" type="ColumnValue" />
            <xs:element name="PurseAmount" type="xs:decimal" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TrackRecord">
        <xs:sequence>
            <xs:element name="TrackRecord">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="3" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="RaceDate" type="xs:date" />
            <xs:element name="Horse" type="Horse" />
            <xs:element name="HorseAge" type="xs:int" />
            <xs:element name="Course" type="Course" />
            <xs:element name="WinningTime" type="xs:int" />
            <xs:element name="WeightCarried" type="xs:int" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RaceCompanyLine">
        <xs:sequence>
            <xs:element name="HorseName">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="35" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="WeightCarried" type="xs:int" />
            <xs:element name="LengthsAheadAtFinish" type="xs:int" />
            <xs:element name="PositionAtFinish">
                <xs:simpleType>
                    <xs:restriction base="xs:int">
                        <xs:minInclusive value="0" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="OfficialPosition">
                <xs:simpleType>
                    <xs:restriction base="xs:int">
                        <xs:minInclusive value="0" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RaceType">
        <xs:sequence>
            <xs:element name="RaceType">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="5" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Description">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="255" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RaceSummary">
        <xs:sequence>
            <xs:element name="Country">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="3" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="BreedType" type="ColumnValue" />
            <xs:element name="Year" type="xs:int" />
            <xs:element name="Surface" type="ColumnValue" />
            <xs:element name="NumberOfStarts" type="xs:int" />
            <xs:element name="NumberOfWins" type="xs:int" />
            <xs:element name="NumberOfSeconds" type="xs:int" />
            <xs:element name="NumberOfThirds" type="xs:int" />
            <xs:element name="EarningsUSA" type="xs:decimal" />
            <xs:element name="EarningsForeign" type="xs:decimal" />
            <xs:element name="CurrencyType" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PointOfCall">
        <xs:sequence>
            <xs:element name="PointOfCall">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Position" type="xs:int" />
            <xs:element name="LengthsAhead" type="xs:int" />
            <xs:element name="LengthsBehind" type="xs:int" />
            <xs:element name="PointOfCallPrint">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Fraction">
        <xs:sequence>
            <xs:element name="Fraction">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Time" type="xs:int" />
            <xs:element name="FractionPrint">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RaceRestriction">
        <xs:sequence>
            <xs:element name="RestrictionType">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="1" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Text">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="255" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ColumnValue">
        <xs:sequence>
            <xs:element name="Value">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="8" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Description" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="40" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ScratchDetail">
        <xs:sequence>
            <xs:element name="Track" type="Track" />
            <xs:element name="RaceDate" type="xs:date" />
            <xs:element name="RaceNumber" type="xs:int" />
            <xs:element name="Distance" type="Distance" />
            <xs:element name="Course" type="Course" />
            <xs:element name="TrackCondition" type="ColumnValue" />
            <xs:element name="ScratchIndicator" type="ColumnValue" />
            <xs:element name="ScratchReason" type="ColumnValue" />
            <xs:element name="RaceText" type="xs:string" />
            <xs:element name="RaceType" type="RaceType" />
            <xs:element name="PurseUSA" type="xs:decimal" />
            <xs:element name="CondensedConditionsOfRace" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="EntryRaceCard" type="RaceCard" />
</xs:schema>